.page {
  height: 100%;
}

.page_body {
  min-width: $mobile-width;
  min-height: 100%;
  margin: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}
